@charset "utf-8";
/*css reset
将默认样式全部覆盖掉，以保证不同浏览器下的样式相同
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;

}
ol,ul{
		list-style: none;
}
fieldset,img{border: 0;}
textarea{
	resize: none;
}
input:focus, textarea:focus{
	outline: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
q:before, q:after{
	content: '';
}
abbr,acronym{
	border: 0;
	font-variant: normal;
}
address,cite, dfn,optgroup,em,var{
	font-style: normal;
}
legend{
	color: #000;
}
.clear{
	clear: both;
	height: 0;
	overflow: hidden;
}
.cf:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
*.cf{
	zoom:1;
}

/*global css*/
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #121212;
	line-height: 20px;
}
a{
	color: #3576AB;
}
a:hover{
	color: #3576AB;
	text-decoration: none;
}
input,label{
	vertical-align:middle;
}
.fr{
	float: right;
	display: inline;
}
.w950{
	width:950px;
	margin:0 auto;
}
#hd{
	/*height:50px;
	line-height:50px;*/
	background-color: #eff2f5;
}
#hd .nav{
	background-color: #535751;
	height: 28px;
	line-height:28px;
}
#hd .nav a{
	color: #D6D6d4;
	margin: 0 10px;
}
#hd .logo-search{
	border-bottom: 1px solid #e3ebec;
	padding: 20px 0;
}
#hd .logo-search a{
	width: 115px;
	height: 27px;
	/*overflow: hidden;*/
	float: left;
	margin:0 42px 0 0;
}
#hd .logo-search a img{
	width:100%;
	height:100%;
	
}
#hd input {
	border: 0;
}
#hd .logo-search .searchBox{
	width: 470px;
	height: 31px;
	line-height: 30px;
	padding: 0 10px 2px;
	color: #bababa;
	font-size: 12px;
	background: url("../images/nav_mv_bg.png") no-repeat ;
}
#hd .logo-search form{
	/*消除两个input之间有换行导致的空隙
	*/
	font-size: 0;
}

#hd .logo-search .searchBtn{
	width: 37px;
	height: 33px;
	text-indent: -999em;
	cursor: pointer;
	background: url("../images/nav_mv_bg.png") no-repeat 0 -40px;
}
#hd .sub-nav{
	height: 38px;
	line-height: 38px;
}
#hd .sub-nav a{
	margin-right: 36px;
}

#bd{
	padding: 40px 0 0; 
}
.borderbom{
	border-bottom: 1px solid #eaeaea;
}
.hd{
	height: 50px;
	line-height: 50px;
}
.hd h2{
	font-size: 14px;
	font-weight: normal;
}
.hd span{
	margin: 0 0 0 15px;
}
.hd span a {
	margin: 0 15px 0 0 ;
	font-size: 12px;
}
.fl{
	float: left;
	display: inline;
}


#bd .con{
	width: 590px;
}

.now .scroll-btn {
	width: 100px;
	height: 18px;
	line-height: 18px;
	margin: 20px 0 0;
}
.now .scroll-btn a {
	float: right;
	background: url("../images/slide_swithc_2.png") no-repeat left top;
	width: 18px;
	height: 18px;
	margin: 0 0 0 5px;
	text-indent: -999em;
}
.now .scroll-btn .prev{
	background-position:  0 0;

}
.now .scroll-btn .prev:hover{
	background-position: 0 -18px;
}
.now .scroll-btn .next{
	background-position:  -18px 0;

}
.now .scroll-btn .next:hover{
	background-position:  -18px -18px;
}
.now .scroll-btn .num {
	float: right;
	margin: 0 10px 0 0;
	color: #666;
}
.bd{
	padding: 18px 0;
}
.star{
	background: url("../images/midstars.gif") no-repeat 0 0;
	display: inline-block;
	width: 55px;
	height: 11px;
	margin: 0 5px;
}
.star5{
	background-position: 0 -55px;
}
.star7{
	background-position: 0 -33px;
}
.piclist li{
	float: left;
	display: inline;
	text-align: center;
}
.piclist li h3{
	font-size: 12px;
	margin: 12px 0 10px;
	font-weight: normal;
}
.buyBtn{
	background: url("../images/buyBtn.gif") no-repeat 0 0;
	width: 90px;
	height: 24px;
	border: 0;
	line-height: 24px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	margin:10px 0 0;
}
.now .piclist{
	width: 700px;
}
.now .piclist li{
	margin: 0 24px 0 0;
	width: 128px
}
.piclist li .score{
	color: #f54d06;
	text-align: center;
}
.piclist li img {
	width:128px;
	height: 180px;
}
.now .piclist li h3{
	font-size: 14px;
	margin: 0 0 10px 0;

}
.now .piclist li h3 a {
	color:#333;
}
.hot .piclist{
	width: 700px;
}
.hot .piclist li {
	margin: 0 18px 0 0;
	width: 100px;
}
.hot .piclist li img{
	width: 100px;
	height: 148px;
}
.pic-text li{
	float: left;

}

.pic-text li .score{
	color:#666;
}

.user .pic-text li {
	width: 295px;
	margin: 0 0 20px 0;
	line-height: 24px;
}
.pic-text li img {
	float:left;
	display: inline;
	margin: 0 10px 0 0;
}
.user .pic-text li h3{
	font-size: 14px;
	margin: 0 0 10px 0;
	font-weight: normal;
}
.user .pic-text li h3, .user .pic-text li p{
	margin: 0 0 0 60px;
}
.user .pic-text li p{
	color: #666;
}
.comment .pic-text li{
	padding: 25px 0;
}
/*.piclist li img{display:block;}*/

#bd .side{
	width: 310px;
}

.fr{
	float: right;
	display: inline;
}

.search-cinema{
	background: #f5f3d2;
	padding: 10px;
}

.search-cinema .like-select{
	width: 67px;
	margin: 0 5px 0 0;
	color: #666;
	line-height: 24px;
}

.search-cinema .like-select #city{
	width: 60px;
	height: 24px;
	background: url("../images/city_select_arrow.png") no-repeat 50px center #fff;
	border: 1px solid #e0e0e0;
	padding: 0 0 0 5px;
	cursor: pointer;
}
.search-cinema .like-select ul{
	padding: 0 5px;
	background: #fff;
	border: 1px solid #e0e0e0;
	width: 55px;
	display: none;
}
.search-cinema .search{
	float: left;
	border: 1px solid #e0e0e0;
	width: 202px;
	height: 24px;
	background: #fff;
}
.search-cinema .search .searchBox{
	border: 0;
	font-size: 12px;
	color: #bfbfbf;
	width: 170px;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
}
.search-cinema .search .searchBtn{
	border:0;
	text-indent: -999em;
	background: url("../images/focus_search.png") -14px 0;
	width: 12px;
	height: 12px;
	cursor: pointer;
	margin: 0 5px 0 0;

}
.class ul li{
	float: left;
	width: 40px;
	line-height: 28px;
}

.list ul li{
	border-bottom: 1px solid #eaeaea;
	height: 33px;
	line-height: 33px;
}
.list ul li span{
	display: inline-block;
	width: 20px;
	/**zoom:1;*display:inline;*/
	text-align: center;
}
.list .bd {
	padding-top: 5px;
}

.top .piclist{
	width: 700px;
}

.top .piclist li{
	margin: 0 11px 0 0;
	/*width: 68px;*/
}
.top .piclist li img{
	width: 68px;
	height: 98px;
}

.contact{
	line-height: 24px;
}

.contact .client{
	background: url("../images/client_bg.gif") no-repeat 0 0;
	width: 290px;
	height: 40px;
	padding: 15px 10px;
	margin: 30px 0 0;
}


.contact .client h3{
	font-size: 16px;
	margin: 0 0 0 60px;
}
.contact .client h3 a {
	color: #214e92;
}
.contact .client p{
	color: #4d4d4d;
	margin: 0 0 0 60px;
}
#ft{
	color: #999;
	border-top: 1px dashed #ddd;
	line-height: 30px;
	padding: 0 0 30px;
	font-family:Arial;
}
#ft a{
	margin: 0 5px;
}