@charset "utf-8";
/*css reset
将默认样式全部覆盖掉，以保证不同浏览器下的样式相同
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;

}
ol,ul{
		list-style: none;
}
fieldset,img{border: 0;}
textarea{
	resize: none;
}
input:focus, textarea:focus{
	outline: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
q:before, q:after{
	content: '';
}
abbr,acronym{
	border: 0;
	font-variant: normal;
}
address,cite, dfn,optgroup,em,var{
	font-style: normal;
}
legend{
	color: #000;
}
.clear{
	clear: both;
	height: 0;
	overflow: hidden;
}
.cf:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
.fl{
	float: left;
	display: inline;
}
*.cf{
	zoom:1;
}

/*global css*/
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #121212;
	line-height: 20px;
}
a{
	color: #3576AB;
}
a:hover{
	color: #3576AB;
	text-decoration: none;
}
input,label{
	vertical-align:middle;
}
.fr{
	float: right;
	display: inline;
}
.w950{
	width:950px;
	margin:0 auto;
}
#hd{
	/*height:50px;
	line-height:50px;*/
	background-color: #eff2f5;
}
#hd .nav{
	background-color: #535751;
	height: 28px;
	line-height:28px;
}
#hd .nav a{
	color: #D6D6d4;
	margin: 0 10px;
}
#hd .logo-search{
	border-bottom: 1px solid #e3ebec;
	padding: 20px 0;
}
#hd .logo-search a{
	width: 115px;
	height: 27px;
	/*overflow: hidden;*/
	float: left;
	margin:0 42px 0 0;
}
#hd .logo-search a img{
	width:100%;
	height:100%;
	
}
#hd input {
	border: 0;
}
#hd .logo-search .searchBox{
	width: 470px;
	height: 31px;
	line-height: 30px;
	padding: 0 10px 2px;
	color: #bababa;
	font-size: 12px;
	background: url("../images/nav_mv_bg.png") no-repeat ;
}
#hd .logo-search form{
	/*消除两个input之间有换行导致的空隙
	*/
	font-size: 0;
}

#hd .logo-search .searchBtn{
	width: 37px;
	height: 33px;
	text-indent: -999em;
	cursor: pointer;
	background: url("../images/nav_mv_bg.png") no-repeat 0 -40px;
}
#hd .sub-nav{
	height: 38px;
	line-height: 38px;
}
#hd .sub-nav a{
	margin-right: 36px;
}

#bd{
	padding: 40px 0 0; 
}
.borderbom{
	border-bottom: 1px solid #eaeaea;
}
.hd{
	height: 50px;
	line-height: 50px;
}
.hd h2{
	font-size: 14px;
	font-weight: normal;
}
.hd span{
	margin: 0 0 0 15px;
}
.hd span a {
	margin: 0 15px 0 0 ;
	font-size: 12px;
}



#bd .con{
	width: 590px;
}

.now .scroll-btn {
	width: 100px;
	height: 18px;
	line-height: 18px;
	margin: 20px 0 0;
}
.now .scroll-btn a {
	float: right;
	background: url("../images/slide_swithc_2.png") no-repeat left top;
	width: 18px;
	height: 18px;
	margin: 0 0 0 5px;
	text-indent: -999em;
}
.now .scroll-btn .prev{
	background-position:  0 0;

}
.now .scroll-btn .prev:hover{
	background-position: 0 -18px;
}
.now .scroll-btn .next{
	background-position:  -18px 0;

}
.now .scroll-btn .next:hover{
	background-position:  -18px -18px;
}
.now .scroll-btn .num {
	float: right;
	margin: 0 10px 0 0;
	color: #666;
}
.bd{
	padding: 18px 0;
}
.star{
	background: url("../images/midstars.gif") no-repeat 0 0;
	display: inline-block;
	width: 55px;
	height: 11px;
	margin: 0 5px;
}
.star4{background-position:0 -66px}
.star3{background-position:0 -77px}
.star2{background-position:0 -88px}
.star1{background-position:0 -99px}
.star0{background-position:0 -110px}
.bigstar{background:url("../images/bigstars.gif") no-repeat 0 0;display:inline-block;*zoom:1;*display:inline;width:75px;height:14px;overflow:hidden;margin:0 5px;}
.bigstar10{background-position:0 0}
.bigstar9{background-position:0 -14px}
.bigstar8{background-position:0 -28px}
.bigstar7{background-position:0 -42px}
.bigstar6{background-position:0 -56px}
.bigstar5{background-position:0 -70px}
.bigstar4{background-position:0 -84px}
.bigstar3{background-position:0 -98px}
.bigstar2{background-position:0 -112px}
.bigstar1{background-position:0 -136px}
.bigstar0{background-position:0 -140px}
.minstar{background:url("../images/smlstars.gif") no-repeat 0 0;display:inline-block;*zoom:1;*display:inline;width:45px;height:9px;overflow:hidden;margin:0 5px;}
.minstar5{background-position:0 0}
.minstar4{background-position:0 -9px}
.minstar3{background-position:0 -18px}
.minstar2{background-position:0 -27px}
.minstar1{background-position:0 -36px}
.minstar0{background-position:0 -45px}
.star10{background-position:0 0}
.star9{background-position:0 -11px}
.star6{background-position:0 -44px}
.star5{
	background-position: 0 -55px;
}
.star7{
	background-position: 0 -33px;
}
.piclist li{
	float: left;
	display: inline;
	text-align: center;
}
.piclist li h3{
	font-size: 12px;
	margin: 12px 0 10px;
	font-weight: normal;
}
.buyBtn{
	background: url("../images/buyBtn.gif") no-repeat 0 0;
	width: 90px;
	height: 24px;
	border: 0;
	line-height: 24px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	margin:10px 0 0;
}
.now .piclist{
	width: 700px;
}
.now .piclist li{
	margin: 0 24px 0 0;
	width: 128px
}
.piclist li .score{
	color: #f54d06;
	text-align: center;
}
.now .piclist li img {
	width:128px;
	height: 180px;
}
.now .piclist li h3{
	font-size: 14px;
	margin: 0 0 10px 0;

}
.now .piclist li h3 a {
	color:#333;
}
.hot .piclist{
	width: 700px;
}
.hot .piclist li {
	margin: 0 18px 0 0;
	width: 100px;
}
.hot .piclist li img{
	width: 100px;
	height: 148px;
}
.pic-text li{
	float: left;

}

.pic-text li .score{
	color:#666;
}

.user .pic-text li {
	width: 295px;
	margin: 0 0 20px 0;
	line-height: 24px;
}
.pic-text li img {
	float:left;
	display: inline;
	margin: 0 10px 0 0;
}
.user .pic-text li h3{
	font-size: 14px;
	margin: 0 0 10px 0;
	font-weight: normal;
}
.user .pic-text li h3, .user .pic-text li p{
	margin: 0 0 0 60px;
}
.user .pic-text li p{
	color: #666;
}
.comment .pic-text li{
	padding: 25px 0;
}
/*.piclist li img{display:block;}*/

#bd .side{
	width: 310px;
}

.fr{
	float: right;
	display: inline;
}

.search-cinema{
	background: #f5f3d2;
	padding: 10px;
}

.search-cinema .like-select{
	width: 67px;
	margin: 0 5px 0 0;
	color: #666;
	line-height: 24px;
}

.search-cinema .like-select #city{
	width: 60px;
	height: 24px;
	background: url("../images/city_select_arrow.png") no-repeat 50px center #fff;
	border: 1px solid #e0e0e0;
	padding: 0 0 0 5px;
	cursor: pointer;
}
.search-cinema .like-select ul{
	padding: 0 5px;
	background: #fff;
	border: 1px solid #e0e0e0;
	width: 55px;
	display: none;
}
.search-cinema .search{
	float: left;
	border: 1px solid #e0e0e0;
	width: 202px;
	height: 24px;
	background: #fff;
}
.search-cinema .search .searchBox{
	border: 0;
	font-size: 12px;
	color: #bfbfbf;
	width: 170px;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
}
.search-cinema .search .searchBtn{
	border:0;
	text-indent: -999em;
	background: url("../images/focus_search.png") -14px 0;
	width: 12px;
	height: 12px;
	cursor: pointer;
	margin: 0 5px 0 0;

}
.class ul li{
	float: left;
	width: 40px;
	line-height: 28px;
}

.list ul li{
	border-bottom: 1px solid #eaeaea;
	height: 33px;
	line-height: 33px;
}
.list ul li span{
	display: inline-block;
	width: 20px;
	/**zoom:1;*display:inline;*/
	text-align: center;
}
.list .bd {
	padding-top: 5px;
}

.top .piclist{
	width: 700px;
}

.top .piclist li{
	margin: 0 11px 0 0;
	/*width: 68px;*/
}
.top .piclist li img{
	width: 68px;
	height: 98px;
}

.contact{
	line-height: 24px;
}

.contact .client{
	background: url("../images/client_bg.gif") no-repeat 0 0;
	width: 290px;
	height: 40px;
	padding: 15px 10px;
	margin: 30px 0 0;
}


.contact .client h3{
	font-size: 16px;
	margin: 0 0 0 60px;
}
.contact .client h3 a {
	color: #214e92;
}
.contact .client p{
	color: #4d4d4d;
	margin: 0 0 0 60px;
}
#ft{
	color: #999;
	border-top: 1px dashed #ddd;
	line-height: 30px;
	padding: 0 0 30px;
	font-family:Arial;
}
#ft a{
	margin: 0 5px;
}

.intro-star h2{
	color: #494949;
	font-size: 25px;
	line-height: 36px;
}

.intro-star h2 span {
	color: #888;
}

.intro-star .cover{
	width: 310px;
}
.intro-star .cover img{
	float: left;
}
.intro-star .cover ul{
	margin: 0 0 0 112px;
	color: #666;
}
.intro-star .cover ul li span{
	color: #111;
}
.intro-star .film-star{
	width: 150px;
}
.intro-star .film-star .total{
	font-size: 14px;
	color: #f54d06;
}
.intro-star .film-star ul li{
	font-size: 10px;
	height: 14px;
	line-height: 14px;
	margin: 0 0 4px 0;
}
.intro-star .film-star ul .scale{
	background: #f5cbad;
	display: inline-block;
	/**zoom:1;*/
	/**display:inline;*/
	height: 14px;
	margin: 0 3px 0 0;
}

.intro-star .film-star .num{
	margin: 10px 0 5px 5px;
}

.mystar {margin: 25px 0 0;}

.mystar .recommend{
	width: 40px;
	height: 19px;
	text-align: center;
	line-height: 19px;
	float: right;
	background: #f2f8f2;
	border: 1px solid #e3f1ed;
}
.mystar .recommend a{
	color: #4f946e;
}
.mystar .op1 a{
	background: url("../images/btn.gif") no-repeat 0 0;
	display: inline-block;
	width: 49px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin: 0 10px 0 0;
	color: #000;
}

.mystar .op1 .givestar{
	vertical-align: middle;
}
.graystar{
	background: url("../images/nst.gif") no-repeat 0 center;
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	cursor: pointer;
}

.mystar .op2{
	margin: 5px 0 30px 0;
}

.mystar .op2 a{
	margin: 0 10px 0 0;
	padding: 0 0 0 17px;
}

.mystar .op2 .brief{
	background: url("../images/short-comment.gif") no-repeat 0 50%;
}
.mystar .op2 .long{
	background: url("../images/add-review.gif") no-repeat 0 50%;
}
.mystar .op2 .share{
	background: url("../images/a1.png") no-repeat 100% 50%;
	padding: 0 10px 0 0;
}
.synopsis h3{
	font-weight: normal;
	color: #007722;
	font-size: 15px;
}
.synopsis .bd{
	padding: 5px 0 30px;
}
.synopsis .bd p{
	text-indent: 2em;
}

.pic h3{
	font-weight: normal;
	color: #007722;
	font-size: 15px;
}

.pic h3 span {
	font-size: 12px;
	color: #666;
}

.pic h3 span a {
	margin: 0 5px;
}
.pic .bd{
	padding: 5px 0 30px;
}
.pic .bd p{
	text-indent: 2em;
}
.pic .bd .piclist li{
	position: relative;
	margin: 0 2px 0 0;
}

.pic .bd .piclist li{position:relative;margin:0 2px 0 0;}
.pic .bd .piclist .play{width:178px;height:100px;position:absolute;top:0;left:0;cursor:pointer;}
.play{
	background: url("../images/play_btn.png") no-repeat 50% 50%;
}

.filmbrief h3{
	font-weight: normal;
	color: #007722;
	font-size: 15px;
}

.filmbrief .isay{
	height: 26px;
	text-align: center;
	line-height: 26px;
	background: #fae9da;
	color: #ca6445;
	padding: 0 10px;
	font-size: 12px;
}
.filmbrief h3 span{
	font-size: 12px;
	color: #666;
}
.filmbrief h3 span a{
	margin: 0 5px;
}
.filmbrief .bd{
	padding: 5px 0 30px;
}
.filmbrief .bd dl{
	margin: 0 0 8px 0;
}
.filmbrief .bd dd, .filmbrief .bd dt{
	border-bottom: 1px dashed #ddd;
	padding: 8px 0;
}

.filmbrief .name em{
	color: #666;
}

.filmlong h3{
	font-weight: normal;
	color: #007722;
	font-size: 15px;
}

.filmlong h3 .isay{
	height: 26px;
	line-height: 26px;
	text-align: center;
	background: #fae9da;
	color: #ca6445;
	padding: 0 10px;
	font-size: 12px;
}

.filmlong h3 span{
	font-size: 12px;
	color: #666;
}
.filmlong h3 span a{
	margin: 0 5px;
}

.filmlong .bd{
	padding: 10px 0 30px;
}
.filmlong .bd .comm dt{
	background: #f0f3f5;
	height: 36px;
	line-height: 36px;
}
.filmlong .bd .comm dt img{
	float: left;
	margin: 0 15px 0 0;
	display: inline;
}
.filmlong .bd .comm dt h3{
	background: url("../images/review-expand.png") no-repeat right center;
	margin: 0 20px 0 0;
}
.filmlong .bd .comm dd{
	padding: 10px 0 0;
}
.filmlong .name em{
	color: #666;
	margin: 0 0 0 5px;
}
.filmlong .ope{
	padding: 10px 0 20px;
	color: #666;
}
.filmlong .ope a{
	margin: 0 0 0 20px;
}

.buy{
	background: #f0f3f5;
	padding: 20px 0 10px;
	margin: 0 0 40px 0;
}
.buy a{
	display: block;
	background: #268dcd;
	color: #fff;
	width: 160px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
}
.buy p{
	text-align: center;
	color: #999；
	line-height:30px;
}